#A file célja: .env(környezeti változók) file leírása

#1.Hozz létre egy .env file-t(egy txt file teljes nevét, kiterjesztéssel együtt ird át .env-re, majd nyomj kettő enter-t)

#---------------------------------------------------
# Database connection string
#---------------------------------------------------

# localhost:
HomeBankingDb=Host=localhost;Port=altalaban:5432;Database=AuditlyDb;Username=altalaban:postgres;Password=Sajat_postgreql_felhasznaloi_jelszavad

# Docker container-ben:
Host=YOUR_CONTABO_IP;Port=5432;Database=AuditlyDb;Username=auditly_admin;Password=KozosTitkos